/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 73, 73);
}

body {
  --bg: #fff;

  font-family: 'Lato', sans-serif;
  background-color: var(--bg);
}

body.dark {
  --bg: #16161a;

  background-color: var(--bg);
}
