name: Web

on:
  push:
  pull_request:
  paths-ignore:
    - 'packages/mobile/**/*'

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1

      - uses: microsoft/playwright-github-action@v1

      - name: Install dependencies and run tests
        run: yarn install --frozen-lockfile

      - name: Build & Clean
        working-directory: packages/web/
        run: yarn build && rm -rf .cache/

      - name: Prepare Screenshots Folder
        working-directory: packages/web/
        run: mkdir -p ./screenshots

      - name: Start Test Webserver in Background
        working-directory: packages/web/
        run: npx serve -s ./public -p 8000 &

      - name: Test
        working-directory: packages/web/
        run: yarn test

      - uses: actions/upload-artifact@v2
        if: failure()
        working-directory: packages/web/
        with:
          name: test-screenshots
          path: ./screenshots

      - name: Deploy Test
        if: "(github.ref == 'refs/heads/master' || github.ref == 'refs/heads/develop')"
        working-directory: packages/web/
        env:
          HOST: ${{ secrets.HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh/id_rsa
          ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts
          scp -r ./public/* "$SSH_USER@$HOST://var/www/html/test"

      - name: Deploy Prod
        if: "github.ref == 'refs/heads/master'"
        working-directory: packages/web/
        env:
          HOST: ${{ secrets.HOST }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_KEY: ${{ secrets.SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 700 ~/.ssh/id_rsa
          ssh-keyscan -H "$HOST" >> ~/.ssh/known_hosts
          scp -r ./public/* "$SSH_USER@$HOST://var/www/html/prod"
